@use '../utilities/variables' as *;

@keyframes latido
{
    0%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.1);
    }
    100%
    {
        transform: scale(1);
    }
}

.navbar-brand img
{
    transition: transform 0.3s ease;

    &:hover
    {
        animation: latido 0.6s ease-in-out;
    }
}
